@charset "UTF-8";

/* Body styles */
body {
    font-family: source-sans-pro; /* Set the font family */
    background-color: #f2f2f2; /* Set the background color */
    margin: 0; /* Remove default margin */
    font-style: normal; /* Set normal font style */
    font-weight: 200; /* Set font weight */
}

/* Main container styles */
.container {
    margin-left: auto; /* Center the container horizontally */
    margin-right: auto; /* Center the container horizontally */
    height: 1300px; /* Set fixed height */
    background-color: #FFFFFF; /* Set background color */
}

/* Header styles */
header {
    width: 100%; /* Full width */
    height: 10%; /* Set height */
    background-color: #FFFF; /* Set background color */
    border-bottom: 1px solid #2C9AB7; /* Add bottom border */
}

/* Footer Style */
.light {
    font-weight: bold; /* Bold font */
    color: #717070; /* Set text color */
}

/* About section styles */
.text_column {
    width: 29%; /* Set column width */
    text-align: justify; /* Justify text */
    font-weight: lighter; /* Lighter font weight */
    line-height: 25px; /* Set line height */
    float: left; /* Float left */
    padding-left: 20px; /* Add left padding */
    padding-right: 20px; /* Add right padding */
    color: #A3A3A3; /* Set text color */
}

.aboutcontainer {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}


/* Banner styles */
.banner {
    background-image: url("../images/parallax.jpeg"); /* Set background image */
    height: 300px; /* Set height */
    background-attachment: fixed; /* Fixed background */
    background-size: cover; /* Cover background */
    background-repeat: no-repeat; /* No repeat */
}

/* Banner text styles */
.dewall_bigname {
    color: #FFFFFF; /* Set text color */
    position: relative; /* Relative positioning */
    text-align: center; /* Center text */
    padding-left: 0px; /* Remove left padding */
    padding-top: 70px; /* Add top padding */
    letter-spacing: 2px; /* Increase letter spacing */
    margin-top: 0px; /* Remove top margin */
    font-size: 100px; /* Set font size */
    text-decoration: underline; /* Underline text */
}

/* Parallax description styles */
.parallax_description {
    color: #FFFFFF; /* Set text color */
    text-align: right; /* Right-align text */
    padding-right: 100px; /* Add right padding */
    width: 30%; /* Set width */
    float: right; /* Float right */
    font-weight: lighter; /* Lighter font weight */
    line-height: 23px; /* Set line height */
    margin: 0; /* Remove margins */
}

/* Footer styles */
footer {
    background-color: #FFFFFF; /* Set background color */
    padding-bottom: 35px; /* Add bottom padding */
    display: inline-block; /* Inline block display */
}

.footer_column {
    width: 50%; /* Set column width */
    text-align: center; /* Center text */
    padding-top: 30px; /* Add top padding */
    float: left; /* Float left */
}

footer .footer_column h3 {
    color: #B3B3B3; /* Set text color */
    text-align: center; /* Center text */
}

footer .footer_column p {
    color: #717070; /* Set text color */
    background-color: #FFFFFF; /* Set background color */
    padding-left: 30px; /* Add left padding */
    padding-right: 30px; /* Add right padding */
    text-align: justify; /* Justify text */
    line-height: 25px; /* Set line height */
    font-weight: lighter; /* Lighter font weight */
    margin-left: 20px; /* Add left margin */
    margin-right: 20px; /* Add right margin */
}

.cards {
    width: 100%; /* Full width */
    height: auto; /* Auto height */
    max-width: 400px; /* Set max width */
    max-height: 200px; /* Set max height */
}

.button {
    width: 200px; /* Set width */
    margin: 40px auto; /* Center vertically */
    padding: 20px 10px; /* Add padding */
    text-align: center; /* Center text */
    vertical-align: middle; /* Center vertically */
    border-radius: 0px; /* Remove border radius */
    text-transform: uppercase; /* Uppercase text */
    font-weight: bold; /* Bold font */
    letter-spacing: 2px; /* Increase letter spacing */
    border: 3px solid #FFFFFF; /* Set border */
    color: #FFFFFF; /* Set text color */
    transition: all 0.3s linear; /* Transition effect */
}

.button:hover {
    background-color: #FEFEFE; /* Change background on hover */
    color: #C4C4C4; /* Change text color on hover */
    cursor: pointer; /* Pointer cursor on hover */
}

.copyright {
    text-align: center; /* Center text */
    padding: 20px 0; /* Add padding */
    background-color: #717070; /* Set background color */
    color: #FFFFFF; /* Set text color */
    text-transform: uppercase; /* Uppercase text */
    font-weight: lighter; /* Lighter font weight */
    letter-spacing: 2px; /* Increase letter spacing */
    border-top-width: 2px; /* Set border width */
}

.footer_banner {
    background-color: #B3B3B3; /* Set background color */
    padding: 60px 0; /* Add padding */
    margin-bottom: 0px; /* Remove bottom margin */
    background-image: url(../images/pattern.png); /* Set background image */
    background-repeat: repeat; /* Repeat background */
}

.hidden {
    display: none; /* Hide element */
}

/* Profile Section */
.profile {
    display: flex; /* Use flexbox */
    align-items: center; /* Center items vertically */
    justify-content: space-around; /* Distribute items with space around */
    margin: 50px auto; /* Center section horizontally */
    padding: 20px 0; /* Add vertical padding */
    max-width: 1200px; /* Limit the maximum width */
}

.profile-photo {
    width: 600px; /* Set photo width */
    height: 600px; /* Set photo height */
    border-radius: 50%; /* Make the photo circular */
    margin-right: 180px; /* Add right margin for spacing */
}

.profile-overview {
    flex: 1; /* Take up remaining space */
    text-align: left; /* Align text to the left */
    max-width: 600px; /* Limit the maximum width */
}

.profile-overview h1 {
    font-size: 3em; /* Set heading font size */
    font-weight: bold; /* Make the heading bold */
    color: #2C9AB7; /* Set heading color */
    margin-bottom: 20px; /* Add bottom margin */
}

.profile-overview p {
    font-size: 1.8em; /* Set paragraph font size */
    color: #333; /* Set text color */
    margin-bottom: 20px; /* Add bottom margin */
    line-height: 1.5; /* Set line height */
    letter-spacing: 0.5px; /* Increase letter spacing */
}

.overview-button {
    padding: 15px 30px; /* Add padding */
    font-size: 1.5em; /* Set button font size */
    background-color: #2C9AB7; /* Set background color */
    color: white; /* Set text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius */
    cursor: pointer; /* Change cursor to pointer */
    transition: background-color 0.3s ease; /* Add transition effect */
    text-transform: uppercase; /* Uppercase text */
}

.overview-button:hover {
    background-color: #1b6f8b; /* Change background color on hover */
}

/* Tablet Styles */
@media (max-width: 1200px) {
    .profile-photo {
        width: 300px; /* Set photo width for smaller screens */
        height: 300px; /* Set photo height for smaller screens */
        margin-right: 60px; /* Adjust right margin */
    }

    .profile-overview {
        max-width: none; /* Remove max-width */
    }
}

/* Mobile Styles */
@media (max-width: 768px) {
    .profile {
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Center items horizontally */
        padding: 20px 0; /* Add vertical padding */
    }

    .profile-photo {
        margin-bottom: 20px; /* Add bottom margin */
        width: 250px; /* Set photo width for mobile */
        height: 250px; /* Set photo height for mobile */
        margin-right: 0; /* Remove right margin */
    }

    .profile-overview {
        width: 100%; /* Full width */
        text-align: center; /* Center text */
        padding-left: 0; /* Remove left padding */
    }

    .profile-overview h1 {
        font-size: 2.5em; /* Adjust heading font size */
    }

    .profile-overview p {
        font-size: 1.5em; /* Adjust paragraph font size */
    }

    .overview-button {
        font-size: 1.2em; /* Adjust button font size */
    }
}



/* contact me form section */

.contactme {
    color: #000000; /* Set text color */
    position: relative; /* Relative positioning */
    text-align: center; /* Center text */
    padding-left: 0px; /* Remove left padding */
    padding-top: 70px; /* Add top padding */
    letter-spacing: 2px; /* Increase letter spacing */
    margin-top: 0px; /* Remove top margin */
    font-size: 100px; /* Set font size */
    text-decoration: underline; /* Underline text */
}


.form_container {

	max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}


input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

contact_button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

contact_button[type="submit"]:hover {
    background-color: #0056b3;
}

